@import './markdown.css';
@import './salmonstats.css';

html,
body,
#app {
  margin: 0 auto;
  padding: 0 10px;
  line-height: 1;
  box-sizing: border-box;
  font-family: Splatoon2;
}

html.dark {
  background: #121212;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
